:root{

  --category-color: #621940;
}
.title-div{
  display: flex;
  justify-content: center;
}
.user-journey{
  color: #232323;
  padding-left: 50px;
  padding-top: 20px;
  background-color: var(--bg-color);    display: block;
  list-style-type: none;

}
.user-journey li{
  padding-right: 10px;
}
.user-journey li a{
  background-color: none;

}
.journey-item:hover{
  text-decoration: underline;
  cursor: pointer;
}
.user-journey li i{
  color: #232323;
  font-size: 12px;
}
.section.category{
  width: 95%;
  padding-bottom: 20px;
  opacity: 0.9;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 50px;
  border: 0px solid black;
  box-shadow: 0px 0px 1px black;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  background-color:var(--category-color);
  color: #EFEFEF;
}
.category div .product-card{
  width: 230px;
  height: 380px;
  /*
  background-color: #22272D;
  color: var(--font-menu-color);*/
}
.category div .product-card:hover{
  margin-left: 20px;
  margin-right: 0px;
  margin-top: 25px;
  margin-bottom: -25px;
  height: 375px;
  transition: .5s ease all;
  position:relative;
  z-index: 1;
  transform: scale(1.1);
  opacity: 100%;/*
  background-color: black;
  color: var(--font-menu-color);*/
  padding-bottom: 10px;
}
.category div .product-card:hover .stars{
  transition: .5s ease all;
  transform: scale(0.9);
  padding: 0;
}
.category div .product-card:not(:hover) .stars{
  transition: .5s ease all;
}
.category div .product-card:hover .product-img{
  transition: .5s ease all;
  width: 180px;
  height: 270px;
}
.category div .product-card:hover h2{
  transition: .5s ease all;
  font-size: 17px;
}
.category div .product-card:hover h3{
  transition: .5s ease all;
  opacity: 0;
  font-size: 0;
}
.category div .product-card:hover p{
  transition: .5s ease all;
  opacity: 0;
  font-size: 0;
}
.category div .product-card:not(:hover) p{
  transition: .5s ease all;
}
.category div .product-card:not(:hover) h3{
  transition: .5s ease all;
}
.category div .product-card:not(:hover) h2{
  transition: .5s ease all;
}


.category div .product-card:not(:hover) .product-img{
  transition: .2s ease ;

}
.category-main{
  display: flex;
  flex-flow: row;
}
.column-title{
  background-color: black;
  color: white;
  width: 110%;
  height: 60px;
  text-align: right;
  padding: 20px;
  justify-items: middle;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}
.categories-column{
  max-width: 300px;
  width: 75%;
  opacity: 0.85;
  margin-left: 10px;
  margin-top: 50px;
  height: 100%;
  border-left: 3px solid black;
  border-bottom: 3px dashed; black;
  color: black;
  display: flex;
  align-items: center;

  flex-direction: column ;
  background-color: var(--bg-color);
  padding: 10px;
}
.btn-category{
  background-color: lightgray;
  color: #232323;
  text-align: center; 
  vertical-align: middle;
  padding: 15px;
  margin-bottom: 2px;
  margin-left: 15px;
  width: 90%; 
  height: 50px;
  border: solid 0px black;
  font-weight:bold; 
}

.btn-category a{
  font-size: 12px;
  text-decoration: none;
  color:  #232323;
}
.btn-category:hover {
  transition: .5s ease;
  background-color: #232323;
  cursor: pointer;
  width: 100%; 
}
.btn-category:hover a{
  color: white;
  text-decoration: underline;
}
.btn-category:not(:hover) {
  transition: .5s ease;
}
.category-title{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Monospace;
  max-width: 1920px;
  width: 100%;
  letter-spacing: 4px;
  height: 250px;
  margin: 0 0 0 0;
  font-size: 40px;
  color: white;
}
.title-div{
  background-image:linear-gradient(var(--category-color),var(--category-color)),url(../img/fantasy.png);
  background-blend-mode: hue;
  background-position: center;
  background-repeat: no-repeat;

}